/* postのindexページのcss */
.index-post-contents {
  display: flex;
  margin-left: 420px;
  margin-top: 24px;
}
.index-posts {
  width: 471px;
}
.index-post {
  background-color: #fff;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.index-icon-nickname {
  display: flex;
  height: 60px;
  padding: 13px 0 0 13px;
}
.index-icon img{
  height: 34px;
  width: 34px;
  border-radius: 17px;
}
.index-image img {
  height: 470px;
  width: 470px;
  object-fit: cover;
  vertical-align: middle;
  border-right: 1px solid lightgray;
}
.index-tags {
  color: rgb(0, 42, 94);
}

.current_user-posts {
  margin-left: 50px;
}
.current_user-icon-nickname {
  display: flex;
}
.current_user-icon img {
  height: 55px;
  width: 55px;
  border-radius: 27.5px;
}
.cat-image img {
  position: absolute;
  top: 350px;
  height: 500px;
  width: 500px;
  opacity: 0.8;
}
.cat-image-two img {
  position: absolute;
  top: 640px;
  right: 370px;
  height: 230px;
  width: 230px;
  opacity: 0.8;
}

/*postのnewページのcss*/
.new-content {
  background-color: #fff;
  height: 765px;
  width: 700px;
  border-radius: 12px;
  border: 1px solid lightgray;
  margin: 30px auto 0;
}
.new-title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
}
.new-form {
  padding: 20px;
}
.new-form input {
  width: 100%;
  margin-bottom: 10px;
  height: 50px;
  padding: 10px;
}
.new-form textarea {
  width: 100%;
  margin-bottom: 4px;
  height: 200px;
  padding: 10px;
}
.image-preview {
  display: flex;
}
#previews img {
  height:270px;
  width: 270px;
  object-fit: cover;
  vertical-align: middle;
  margin-bottom: 10px;
}
#preview-none img {
  height:270px;
  width: 270px;
  object-fit: cover;
  vertical-align: middle;
  margin-bottom: 10px;
}
.image-form {
  display: flex;
  align-items: flex-end;

  margin-left: 10px;
}

/*postのshowページのcss*/
.post-show-content {
  background-color: white;
  height: 775px;
  width: 1180px;
  margin: 24px auto 0;
  display: flex;
  border: 1px solid lightgray;
  border-radius: 0 7px 7px 0;
}
.post-show-left img {
  height: 775px;
  width: 675px;
  object-fit: cover;
  vertical-align: middle;
  border-right: 1px solid lightgray;
}

.post-show-right {
  height: 100%;
  width: 505px;
}
.show-icon-nickname {
  display: flex;
  height: 60px;
  border-bottom: 1px solid lightgray;
  padding: 12px;
}
.icon-nickname-right {
  display: flex;
  padding: 6px 20px 0 12px;
}
.show-edit-delete {
  margin-left: 238px;
}
.show-edit-delete a {
  text-decoration: none;
  font-size: 15px;
  color: black;
}
.show-icon img {
  height: 32px;
  width: 32px;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 16px;
}
.show-heart a {
  text-decoration: none;
  font-size: 30px;
}
.show-heart-none a {
  text-decoration: none;
  color: lightgray;
  font-size: 30px;
}
.show-contents-center {
  height: calc(100% - 60px - 100px - 50px);
  overflow: scroll;
  display: flex;
  padding: 12px 30px 0 12px;
}
.contents-center-right {
  margin-left: 12px;
  margin-top: 6px;
}
.show-tags {
  color: rgb(0, 58, 129);
}
.show-time {
  font-size: 13px;
}
.favoriteーcontents {
  height: 100px;
  border-top: 1px solid lightgray;
}
.comment-contents {
  height: 50px;
  border-top: 1px solid lightgray;
}

.comment-form input {
  height: 49px;
  border: white;
  background-color: white;
}
.comment-content {
  width: 420px;
  padding-left: 10px;
}
.comment {
  display: flex;
}
.comment button {
  background-color: white;
  border: white;
}